.categories {
  @apply flex pt-4 pb-6 pl-6 items-start overflow-x-scroll;

  /* smooth scrolling */
  scroll-behavior: smooth;

  /* Scrolling becomes inertial */
  -webkit-overflow-scrolling: touch;

  /* Hide the scroll bars. */
  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
}

.category {
  @apply block flex-shrink-0 w-auto pr-8 leading-normal;

  scroll-snap-align: center;
}

.chosen {
  @apply relative inline-block no-underline;
}

.chosen::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--secondary);
}
